
button {
  --size: 60px;
  width: var(--size);
  height: var(--size);
  background: var(--color-brand);
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border: none;
  font-size: calc(var(--size) / 2);
}