
<div class="Progress">
  <div
    class="Progress-Bar"
    [ngStyle]="setProgress(progress | async)"
  ></div>
</div>

<input
  *ngIf="!thumbnail"
  type="file"
  accept="image/*"
  (change)="upload($event)" />
  
<img
  *ngIf="thumbnail"
  class="Thumbnail" src="{{ thumbnail }}" />


<div *ngIf="currentState.state === states.STARTED">
  Analysing Image
</div>

<div *ngIf="currentState.state === states.RESULT">
  <ul>
    <li>Adult: {{ currentState.value.adult }}</li>
    <li>Medical: {{ currentState.value.medical }}</li>
    <li>Spoof: {{ currentState.value.spoof }}</li>
    <li>Violence: {{ currentState.value.violence }}</li>
    <li>Racy: {{ currentState.value.racy }}</li>
  </ul>
  
  <button (click)="reset()">Upload Next</button>
</div>

<div *ngIf="currentState.state === states.ERROR">
  <p>Uhh something went wrong</p>
</div>