.Progress {
  height: 5px;
  position: relative;
  overflow: hidden;
  background: lightgrey;
  margin-bottom: 10px;
}

.Progress-Bar {
  height: 100%;
  background: var(--color-brand);
}

.Thumbnail {
  max-width: 100%;
}