:host {
  --header-height: 50px;
}

header {
  background: var(--color-primary);
  color: #fff;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header a {
  color: #fff;
  text-decoration: none;
}

header .Title {
  margin: 0;
  text-align: center;
  font-size: 16px;
}

main {
  padding: 16px;
  padding-top: calc(var(--header-height) + 16px);
}
