
:root {
  --color-brand: #50ab6c;
  --color-background: #eaefea;
  --color-primary: #282828;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--color-background);
  height: 100%;
}
