
<div *ngFor="let item of items | async; index as i" class="Item">
  <img src="{{ images[i] }}" alt="">
  <h3>{{item.file}}</h3>
  <ul>
    <li>Adult: {{ item.result.adult }}</li>
    <li>Medical: {{ item.result.medical }}</li>
    <li>Spoof: {{ item.result.spoof }}</li>
    <li>Violence: {{ item.result.violence }}</li>
    <li>Racy: {{ item.result.racy }}</li>
  </ul>
</div>